<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jet>>>stream-password-reset-complete</title>
  {% load static %}
  
</head>
<body style="background-color:skyblue;color:white;font-family:verdana;">
    <h3>Your Password Has Been Changed!</h3>
    <p>Your password has been set.You may go ahead and <a style="text-decoration:none;color:DodgerBlue;"href="{% url 'login' %}">sign in </a> now.</p>
</body>
</html>