<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jet>>>stream-Change password-confirm</title>
  {% load static %}
  
</head>
<body style="background-color:skyblue;color:white;font-family:verdana;">
  <h3>Change Password</h3>
  <form method="post">
  {% csrf_token %}
  {{form.as_p}}
  <button style="background-color:DodgerBlue;"type="submit">Change Password</button>
  </form>
  <p>
    The password reset link was invalid,possibly because it has already been used.
    Please request a new password reset.
  </p>
</body>
</html>